@font-face {
  font-family: "Fontawesome";
  src: url('../fonts/fontawesome-webfont.woff') format('woff'),
      url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
      url('../fonts/fontawesome-webfont.svg') format('svg'),
      url('../fonts/fontawesome-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "Zawgyi-One";
  src: url('../fonts/Zawgyi-One.woff') format('woff'),
      url('../fonts/Zawgyi-One.eot') format('embedded-opentype'),
      url('../fonts/Zawgyi-One.svg') format('svg'),
      url('../fonts/Zawgyi-One.ttf') format('truetype');
}


body {
  font-family: 'Zawgyi-One', 'Arial', sans-serif;
}
.btn .btn-default {
  float : right;
}
#logo {
  margin-right: 20px;
  margin-top:13px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #3277B2;
}

.input-group {
  margin-top: 50px;
}
#footer {
  text-align :center;
}
.content-image, .content-body{
  display: inline-block;
  vertical-align: top;
}

.content-body {
  width :50%;
}
.pagination {
    display: inline-block;
    padding-left: 28% !important;
    
    
}

#padding-top{
  padding-top: 20px;
}


.panel-no-padding{
  line-height: 10px;
}

.main-menu {
  background-color: #337ab7;
}
h3#page_title {
    padding-left: 20px;
    margin-bottom: 22px;
}
#page_title_color {
  
 background: #cecfcf;
  border-top: 1px solid #ffffff;
}
.navbar {
  margin-bottom: 0px;
}
/*For Footer*/
.panel-primary{
  border-color: #ECF0F3 !important;
  
}
#body {
  background-color: #ececeb;
}
#footer {
  background: #dcdcdc;
  border-top: 1px solid #ffffff;
  text-align :center;
  overflow: hidden;
}

#footer p {
  margin: 0;
  font-size: 12px;
}
.form-control {
  border-radius: 0px; 
  background-color: transparent;
      /* border-radius: 4px; */
}
#footer .block-content {
  margin: 18px 27px;
}


.no-padding-left {
  padding-left: 0px;
}

.no-padding-right {
  padding-right: 0px;
}

/*slide*/
#slider {
  padding-bottom: 20px;
}

#ppl-news-move-right {
  text-align: right;
}

#date-author {
    padding-top: 5px;
    color: rgba(195, 159, 159, 0.82);
    font-size: 10px;
}

p#ppl-news-move-left {
    font-size: 11px;
    color: rgba(195, 159, 159, 0.82);
}
.content-body{
  padding-top: 4px;
}
.panel-body ul li:before {
  font-family: 'Fontawesome', 'Arial', sans-serif;
  content: '\f054';
}
.panel {
  border-radius: 0px !important;
   
}
.panel-body {
    padding: 7px;
}
#information-block h3 {
    font-size: 18px;
    color: rgba(101, 99, 158, 0.99);
}
div#information-block {
    padding-bottom: 11px;
}
.btn.btn-default.search {
  padding-right: 11px;
  padding-left: 11px;
}
button.btn.btn-default {
    float: right;
    background-color: rgb(49, 117, 175);
    color: white;
    background-image: none !important;
    text-shadow: none !important;
    border-radius: 0px; 
    padding-left: 26px;
    padding-right: 26px;
}
h4 {
  line-height: 22px !important;
}
.panel-body ul {
  padding: 0;
  margin: 0;
  list-style: none;

  line-height: 26px;
  margin-left: 5px;
}

.panel-body ul li a{
  margin-left: 5px;
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
}

#stamp {
  
  padding-top: 10px;
  padding-right:44px;
}
.navbar {
  border: none;
}
.navbar-default {
    background-image: none;
    background-color: #3277B2;
    box-shadow: none; 
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 15px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: rgba(66, 146, 214, 0.98);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
    background-image: none;
}
.main_menu{
  background-color: #3277B2;
}

#site-name , #slogan-name {
  color:  #3277B2;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-toggle {
    border-color: #3277B2;
}
.content-body {
    padding-left: 10px;
}
  
.open-page-padding {
   padding-top:20px;
}

 .carousel-indicators{
    left: 93%;
    top: 90%;
  }

/**/
  .navbar-toggle {
    border: none;
    background: transparent !important;
  }
  .navbar-toggle:hover {
    background: transparent !important;
  }
  .navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.1s;
  }
  .navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .navbar-toggle .middle-bar {
    opacity: 0;
  }
  .navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  .navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
  }
  .navbar-toggle.collapsed .middle-bar {
    opacity: 1;
  }
  .navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
  }

/**/

#footer-line-height {
  padding-top: 10px;
}

#footer-title-color {
  color : #7B7775;
}
.panel-heading {

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: 3px;
    line-height: 1.428571;
    color: white;
    text-decoration: none;
    background-color: rgba(119, 119, 119, 0.61);
    border: 1px solid rgba(120, 80, 195, 0.08);
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header,
 .container>.navbar-collapse, .container>.navbar-header {
   /* margin-left : 0 ;*/
    /* margin-left: 0; */
 }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(66, 146, 214, 0.98);
    color :white;
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
  .content-body{
    width: 42%;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }

}
@media only screen and (max-width: 992px){
      .navbar-header {
          float: none;
      }
      .navbar-toggle {
        display:block;
        }
      .navbar-toggle:hover {
        background : transparent !important;
      }
      .navbar-toggle .icon-bar {
        width: 22px;
        transition: all 0.2s;
      }

      /* end*/
      .navbar-collapse {
        /*  border-top: 1px solid transparent;*/
          box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      }
      .navbar-collapse.collapse ul {
          display: none;
      }
      .navbar-collapse.collapse.in ul {
          display: block !important;
      }
      .navbar-nav {
          float: none!important;
          margin: 7.5px -15px;
      }
      .navbar-nav>li {
          float: none;
      }
      .navbar-nav>li>a {
          padding-top: 10px;
          padding-bottom: 10px;
      }

      #stamp {
        text-align: center;
        padding-top: 10px;
        padding-right:134px;
      }

      #logo {
        display :none;
      }
      h2 {
        padding-top: 10px;
        font-size: 20px;
      }
      h3 {
        font-size: 15px;
      }

}
@media only screen and (min-width: 768px) {
  .content-image {
    padding-right: 15px;
  }
}

@media only screen and (max-width: 767px) {
  #branding-block {
    width :39%;
    height: 113px;
    padding-bottom: 10px
  }
  .search-block {
    margin-top: 65px;
    width : 210px;
    float : right;
  }

  .content-body {
    width :100%;

  }
  .content-image {
    padding-top: 0px;
    padding-left: 0px;
    padding-right:0px;
    padding-bottom: 15px;
  }
  .text-no-padding{
    padding-top: 20px;
  }
    #logo {
    display :none;
  }
    #site-name , #slogan-name {
    display :none;


  }
  .input-group {
    margin-top: 0px;
  }

  #stamp {
    padding-right: 0px;
  }


  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, 
  .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
   .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, 
   .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4,
    .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, 
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, 
    .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
     .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2,
      .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, 
      .col-xs-9 {
    
    padding-right: 0px !important; 
    padding-left: 0px !important; 
  }

   #padding-top {
      padding-top: 10px ;
  }

}
